<h2 class="heading">The Value of Money</h2>
<div class="info">
    <figure class="info-section">
       <img src="img/money.jpg" alt="The Value of Money" /> 
       <figcaption>Value of Money</figcaption>
    </figure>
    <p>The value of money is determined by the demand for it, just like the value of goods and services. There are three ways to measure the value of the dollar. The first is how much the dollar will buy in foreign currencies. That’s what the exchange rate measures. Forex traders on the foreign exchange market determine exchange rates. They take into account supply and demand, and then factor in their expectations for the future.
    <br>
    <br>
    For this reason, the value of money fluctuates throughout the trading day. 
    The second method is the value of Treasury notes. They can be converted easily into dollars through the secondary market for Treasurys. The third way is through foreign exchange reserves. That is the amount of dollars held by foreign governments. The more they hold, the lower the supply. That makes U.S. money more valuable. If foreign governments were to sell all their dollar and Treasury holdings, the dollar would collapse.
    <br>
    <br>
    U.S. money would be worth a lot less. No matter how it's measured, the dollar's value declined from 2000 to 2011. That was due to a relatively low fed funds rate, a high federal debt, and a slow-growth economy. Since 2011, the U.S. dollar has risen in value despite these factors. Why? Most of the economies in the world had even slower growth. That made traders want to invest in the dollar as a safe haven. As a result, the dollar strengthened against the euro.
    </p>
</div>

<h2 class="heading">GMO Food</h2>
<div class="info">
    <figure class="info-section">
       <img src="img/corn.jpg" alt="GMO Food" /> 
       <figcaption>Corn is a Genetically Modified Crop</figcaption>
    </figure>
    <p>
    According to the National Library of Medicine (part of the National Center for Biotechnology Information, or NCBI), genetically engineered, or GM, foods are those that have had foreign genes from other plants or animals inserted into their genetic codes. This has resulted in foods that are consistently flavored, as well as resistant to disease and drought. 
    <br>
    <br>
    However, the NCBI also maintains a list of potential risks associated with GM foods, including genetic alterations that can cause environmental harm. Specifically, it's possible that modified organisms could be inbred with natural organisms, leading to the possible extinction of the original organism. For instance, the banana tree is propagated entirely through cloning methods. The bananas themselves are sterile.
    <br>
    <br>
    By far, the biggest use of GMO technology is in large-scale agricultural crops. At least 90% of the soy, cotton, canola, corn and sugar beets sold in the United States have been genetically engineered. The adoption of herbicide-resistant corn, which had been slower in previous years, has accelerated, reaching 89% of U.S. corn acreage in 2014 and 2015, according to the U.S. Department of Agriculture.
    </p>
</div>

<h2 class="heading">The View of World in 2100</h2>
<div class="info">
    <figure class="info-section">
       <img src="img/population.jpg" alt="Growth in Population by 2100" /> 
       <figcaption>Growth in Population by 2100</figcaption>
    </figure>
    <p>
    Think the world is crowded now? You haven’t seen anything yet. The world is expected to add another billion people within the next 15 years, bringing the total global population from 7.3 billion in mid-2015 to 8.5 billion in 2030, 9.7 billion in 2050, and 11.2     billion by 2100, according to new estimates from the UN.
    <br>
    <br>
    Currently, 60 percent of the global population lives in Asia, 16 percent in Africa, 10 percent in Europe, 9 percent in Latin America and the Caribbean, and only 5 percent in North America and Oceania. China and India are the largest countries in the world, together making up almost 40 percent of the world population.
    <br>
    <br>
    Increased urbanization will be one of the main ways the planet will sustain 10 billion people. There will be a lot of new cities, and mega-cities (cities with a population of over 20 million) will become more common. Possible candidates for mega-city status include: Beijing, Delhi, Jakarta, Mexico City, Mumbai, São Paulo, and Shanghai.
    </p>
</div>
