<h1>PORTFOLIO</h1>
<div class="image-layout">
    <figure>
        <img src="img/coral-reef.jpg" alt="Coral Leaf Disintegration">
        <figcaption>Coral Leaf Disintegration</figcaption>
    </figure>
    
    <figure>
        <img src="img/ecosystem.jpg" alt="Ecosystem Disintegration">
        <figcaption>Ecosystem Disintegration</figcaption>
    </figure>
    
    <figure>
        <img src="img/factory.jpg" alt="Zero Use of Natural Gas and Coal">
        <figcaption>Zero Use of Natural Gas and Coal</figcaption>
    </figure>
    
    <figure>
        <img src="img/life-expectancy.jpg" alt="Global Life Expectancy will be 81 Years">
        <figcaption>Global Life Expectancy will be 81 Years</figcaption>
    </figure>
    
    <figure>
        <img src="img/food.jpg" alt="Shortage of Food Resources">
        <figcaption>Shortage of Food Resources</figcaption>
    </figure>
    
    <figure>
        <img src="img/unemployment.jpg" alt="Unemployment in the Future">
        <figcaption>Unemployment in the Future</figcaption>
    </figure>
</div>
